* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Bengali", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}
#homepage {
  height: 100%;
  width: 100%;
}

#hero_section {
  height: 100vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(45deg, #ffffff 0%, #f6fcf4 100%);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}
#logo img {
  height: 40px;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 16px;
}
#cta_btn {
  background-color: #35797b;
  border: none;
  padding: 16px 32px;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
}
#cta_btn_secondary {
  border: none;
  font-weight: 700;
  border-bottom: 2px solid #fcaeaf;
  padding: 16px 32px;
  background-color: transparent;
  color: #07242f;
  cursor: pointer;
}

#hero_body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#hero_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 50px;
  padding-right: 50px;
}
#hero_left h1 {
  width: 100%;
  font-family: "Hind Siliguri", sans-serif;
  color: #07242f;
  line-height: 87px;
  font-weight: 600;
  font-size: 60px;
  padding-bottom: 16px;
}
#hero_left p {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 32px;
}
#CTA_BTN {
  display: flex;
  gap: 32px;
}
/* class */
#cta_btn2 {
  border: none;
  border-bottom: 2px solid #fcaeaf;
  padding: 16px 32px -2px 32px;
}

#hero_right {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container1 {
  position: absolute;
  height: 400px;
  width: 400px;
  background: url(./img/circle-bg-hero-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#container2 {
  position: absolute;
  height: 230px;
  width: 300px;
  background-color: #a9d1ff;
  border-radius: 8px;
  left: 50px;
  top: 70px;
}

#container2 img {
  width: 220px;
  position: absolute;
  bottom: 0;
}

#container3 {
  position: absolute;
  width: 260px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 6px 12px;
  right: 120px;
  top: 90px;
  box-shadow: 5px 5px 15px #25252534;
}

#container3 svg {
  height: 36px;
  color: #48c08a;
}

#container4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-color: #edcdff;
  right: 100px;
  top: 250px;
}

#container4 img {
  width: 50px;
  height: 50px;
}

#container5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-color: #fcaeaf;
  left: 120px;
  bottom: 200px;
}

#container5 img {
  width: 50px;
  height: 50px;
}

#container6 {
  position: absolute;
  height: 230px;
  width: 300px;
  background-color: #fff4ce;
  border-radius: 8px;
  right: 30px;
  bottom: 20px;
}

#container6 img {
  width: 240px;
  position: absolute;
  bottom: 0;
  left: 30px;
}

#container7 {
  position: absolute;
  width: 260px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 6px 12px;
  left: 120px;
  bottom: 90px;
  box-shadow: 5px 5px 15px #25252534;
}

#container7 svg {
  height: 36px;
  color: #48c08a;
}
